/**
 * @param {color} punctuation
 * @param {color} nodename
 * @param {color} text
 * @param {color} attr
 * @param {color} comment
 */ 
@mixin code($punctuation, $nodename, $text, $attr, $comment) {

  .code-line::before {
    content: attr(data-line-number);
  }

  .syntax_SPACER {
    color: transparent;
  }

  .syntax_OPEN_TAG {
    color: $punctuation;
  }

  .syntax_NODENAME {
    color: $punctuation;
  }

  .syntax_SLASH {
    color: $punctuation;
  }

  .syntax_CLOSE_TAG {
    color: $punctuation;
  }

  .syntax_TEXT_NODE {
    color: $text;
  }

  .syntax_ATTR_NAME {
    color: $attr;
  }

  .syntax_ATTR_VALUE {
    color: $attr;
  }

  .syntax_ATTR_SETTER {
    color: $attr;
  }

  .syntax_ATTR_QUOTE_OPEN {
    color: $attr;
  }

  .syntax_ATTR_QUOTE_CLOSE {
    color: $attr;
  }

  .syntax_COMMENT_OPEN,
  .syntax_COMMENT_VALUE,
  .syntax_COMMENT_CLOSE, {
    color: $comment
  }

}

