$grey: #BDBDBD;
$lightGrey: #A4A4A4;
$lightGreyOpaque: rgba(164, 164, 164, .6);
$middleGrey: #585858;
$darkGrey: #bdc3c7;
$offWhite: #ecf0f1;
$white: #ffffff;
$black: #000000;
$lightBlack: #272C2E;
$darkBlack: #1C1C1C;
$darkestBlack: black;
$yellow: #F1F2A7;
$yellowOpaque: rgba(241, 242, 167, .5); 
$red: #d35400;
$blue: #3498db;
$lightBlue: rgba(109, 80, 255, .1);
$carolinaBlue: #61A0D1;
$darkRed: #63a35c;
$darkPurple: #795da3;