body, html, button, input {
  font-family: $font-main;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 14px !important;
}

table tbody td {
  padding: 0;
}

input, textarea, select, option {
  font-size: .9em !important;
  font-family: $font-monospace;
}

hr {
  padding: 0;
  margin: 0;
  border: 0;
}

.btn {
  border-radius: 0;
  line-height: 1;
  cursor: pointer;
}

input {
  padding: .4rem .65rem;
}

p {
  padding: 0;
  margin: 0;
}

.form-control { 
  height: 30px !important;
}

ul {
  padding-left: 20px;
}

.btn {
  box-shadow: 0 1px 3px map-get($colors, "btnShadowA"), 0 1px 2px map-get($colors, "btnShadowB");
  outline: none !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  border: 0 !important;
}