body, html, button, input {
  font-family: $font-main;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 14px !important;
}

table, tbody {
  padding: 0;
}

tr > td {
  padding-left: 15px;
}

#onboard td {
  padding-left: 0px !important;
}

input, textarea, select, option {
  font-size: .9em !important;
  font-family: $font-monospace;
}

hr {
  padding: 0;
  margin: 0;
  border: 0;
}

.btn {
  border-radius: 0;
  line-height: 1;
  cursor: pointer;
}

input {
  padding: .4rem .65rem;
}

p {
  padding: 0;
  margin: 0;
}

.form-control:not(textarea) { 
  height: 30px !important;
}

ul {
  padding-left: 20px;
}

.btn {
  @extend .shadow;
  outline: 0 !important;
}

.btn:focus, .btn:active {
  outline: 0 !important;
  border: 0 !important;
}

button:focus, button:active {
  outline: 0 !important;
}